<html>
<title id="title">{{ context }}</title>

<head>
    <style>
        input {
            width: 90%;
            height: 8%;
            border: none;
            font-size: 200%;
            border-radius: 0;
            -webkit-appearance: none;
            @include border-radius(0);
            background-color: whitesmoke;
        }
    </style>
</head>
<body style="background-color:darkslategrey;">
<div align="center">
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="width:0; height:0; border:none"></iframe>
    <div>
        <div>
            <form action="{{ context }}/arrange/clear" target="dummyframe">
                <br><input type="submit" value="CLEAR">
            </form>
            <form action="{{ context }}/arrange/white" target="dummyframe">
                <br><input type="submit" value="WHITE">
            </form>
            <form action="{{ context }}/arrange/green" target="dummyframe">
                <br><input type="submit" value="GREEN">
            </form>
            <form action="{{ context }}/arrange/twilight" target="dummyframe">
                <br><input type="submit" value="Twilight">
            </form>
            <form action="{{ context }}/arrange/red" target="dummyframe">
                <br><input type="submit" value="RED">
            </form>
            <form action="{{ context }}/arrange/rainbowCycle" target="dummyframe">
                <br><input type="submit" value="Rainbow">
            </form>
            <form action="{{ context }}/custom">
                <br><input type="submit" value="Custom">
            </form>
        </div>
    </div>
</div>
</body>

</html>
